.offtag {
    background-color: #0b0b0b;
    color: #f5f5f5;
    text-align: center;
    padding: 2px 0;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    border-bottom: 1px solid rgba(201, 162, 77, 0.3);
    position: sticky;
    top: 0;
}

.offtag span {
    color: #c9a24d;
    font-weight: 600;
}

.offtag img {
    width: 30%;
    height: 47%;
}

.videoh {
    position: relative;
    height: 100vh;
    overflow: hidden;
    color: #fff;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    object-fit: cover;
    /* z-index: -1; */
}

.videol {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
    height: 80%;
}

.vcont {
    position: absolute;
    margin-top: 20%;
    left: 80px;
    z-index: 5;
    font-family: 'Times New Roman', Times, serif;
}

.hc {
    position: relative;
    z-index: 10;
}

.hrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    width: 100%;

}

.lh svg {
    cursor: pointer;
    margin-left: 12%;
}

.ch img {
    height: 78px;

}

.logo-glass .rh svg {
    cursor: pointer;
    margin-left: 20%;
    margin-right: 4px;
}

.lh svg:hover,
.rh svg:hover {
    color: #c9a24d;
}

.top-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.85),
            rgba(255, 255, 255, 0.4),
            transparent);
    z-index: 2;
}


/* footer */

.footer {
    background-color: #000;
    color: #d4af37;
    padding: 70px 0 30px;
    font-family: "Times New Roman", serif;
}

.footer-top {
    text-align: center;
    margin-bottom: 50px;
}

.footer-top h3 {
    font-size: 28px;
    letter-spacing: 3px;
    margin-bottom: 8px;
}

.footer-top p {
    font-size: 14px;
    color: #bfa74a;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    text-align: center;
}

.footer-links h5 {
    color: #d4af37;
    margin-bottom: 15px;
    font-size: 18px;
    letter-spacing: 1px;
}

.footer-links a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 8px;
    font-size: 16px;
}

.footer-links a:hover {
    color: #d4af37;
}


.footer-soci {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 22px;
}

.footer-soci svg {
    color: #d4af37;
    font-size: 20px;
    cursor: pointer;
}

.footer-soci svg:hover {
    color: #fff;
}


.footer-bottom {
    margin-top: 30px;
    text-align: center;
    font-size: 13px;
    color: #777;
}

.rr-newsletter {
    margin-top: -15%;
  background: #000;
  padding: 70px 20px;
  text-align: center;
  color: #d4af37;
  font-family: "Times New Roman", serif;
}

.rr-newsletter h2 {
  font-size: 28px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.rr-input-wrap {
  display: flex;
  justify-content: center;
  max-width: 480px;
  margin: auto;
  border: 1px solid #d4af37;
}

.rr-input-wrap input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  padding: 14px 16px;
  color: #fff;
  font-size: 14px;
}

.rr-input-wrap input::placeholder {
  color: #aaa;
}

.rr-input-wrap button {
  background: #d4af37;
  color: #000;
  border: none;
  padding: 14px 22px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}

.rr-input-wrap button:hover {
  background: #fff;
}

@media (max-width: 768px) {
  .rr-input-wrap {
    flex-direction: column;
  }

  .rr-input-wrap button {
    width: 100%;
  }
   .footer-links {
        grid-template-columns: 1fr;
    }
}
