.offtag {
    background-color: #0b0b0b;
    color: #f5f5f5;
    text-align: center;
    padding: 2px 0;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    border-bottom: 1px solid rgba(201, 162, 77, 0.3);
    position: sticky;
    top: 0;
}

.offtag span {
    color: #c9a24d;
    font-weight: 600;
}

.offtag img {
    width: 30%;
    height: 47%;
}

.videoh {
    position: relative;
    height: 100vh;
    overflow: hidden;
    color: #fff;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    object-fit: cover;
    /* z-index: -1; */
}

.videol {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
    height: 80%;
}

.vcont {
    position: absolute;
    margin-top: 20%;
    left: 80px;
    z-index: 5;
    font-family: 'Times New Roman', Times, serif;
}

.hc {
    position: relative;
    z-index: 10;
}

.hrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    width: 100%;

}

.lh svg {
    cursor: pointer;
    margin-left: 12%;
}

.ch img {
    height: 98px;

}

.logo-glass .rh svg {
    cursor: pointer;
    margin-left: 20%;
    margin-right: 4px;
}

.lh svg:hover,
.rh svg:hover {
    color: #c9a24d;
   
}

.top-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.85),
            rgba(255, 255, 255, 0.4),
            transparent);
    z-index: 2;
}

/* side menu*/
.side-menu {
  position: fixed;
  top: 0;
  left: -320px;
  width: 300px;
  height: 100vh;
  background: #0b0b0b;
  color: #fff;
  z-index: 2000;
  padding: 30px;
  transition: left 0.4s ease;
}

.side-menu.open {
  left: 0;
}

.menu-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
  cursor: pointer;
}

.side-menu ul {
  list-style: none;
  padding: 0;
}

.side-menu li {
  font-size: 16px;
  letter-spacing: 2px;
  padding: 15px 0;
  cursor: pointer;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.side-menu li:hover {
  color: #c9a14a; 
}

.menu-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1500;
}


/* footer */

.footer {
    background-color: #000;
    color: #d4af37;
    padding: 70px 0 30px;
    font-family: "Times New Roman", serif;
    margin-top: 2%;
}

.footer-top {
    text-align: center;
    margin-bottom: 50px;
}

.footer-top h3 {
    font-size: 28px;
    letter-spacing: 3px;
    margin-bottom: 8px;
}

.footer-top p {
    font-size: 14px;
    color: #bfa74a;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    text-align: center;
}

.footer-links h5 {
    color: #d4af37;
    margin-bottom: 15px;
    font-size: 18px;
    letter-spacing: 1px;
}

/* .footer-links footer-link {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 8px;
    font-size: 16px;
}

.footer-links footer-link:hover {
    color: #d4af37;
} */

.footer-link {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 8px;
    font-size: 16px;
}

.footer-link:hover {
    color: #d4af37;
}


.footer-soci {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 22px;
}

.footer-soci svg {
    color: #d4af37;
    font-size: 20px;
    cursor: pointer;
}

.footer-soci svg:hover {
    color: #fff;
}


.footer-bottom {
    margin-top: 30px;
    text-align: center;
    font-size: 13px;
    color: #777;
}

.rr-newsletter {
    margin-top: -15%;
    background: #000;
    padding: 70px 20px;
    text-align: center;
    color: #d4af37;
    font-family: "Times New Roman", serif;
}

.rr-newsletter h2 {
    font-size: 28px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.rr-input-wrap {
    display: flex;
    justify-content: center;
    max-width: 480px;
    margin: auto;
    border: 1px solid #d4af37;
}

.rr-input-wrap input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 14px 16px;
    color: #fff;
    font-size: 14px;
}

.rr-input-wrap input::placeholder {
    color: #aaa;
}

.rr-input-wrap button {
    background: #d4af37;
    color: #000;
    border: none;
    padding: 14px 22px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}

.rr-input-wrap button:hover {
    background: #fff;
}




/* about */

.about {
    background: #000;
    padding: 90px 0;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    
}
.enable-transition {
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.enable-transition:hover {
  transform: scale(1.05);
  box-shadow: 0 30px 60px rgba(212, 175, 55, 0.3);
}

.leftimg img,
.aboutimg {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0 20px 40px rgba(212, 175, 55, 0.15);
   transform: scale(1);
   
}

.rightcont h6 {
    color: #d4af37;
    letter-spacing: 2px;
    font-size: 13px;
    margin-bottom: 10px;
}

.rightcont h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #fff;
}

.rightcont p {
    font-size: 15px;
    color: #ccc;
    line-height: 1.8;
    margin-bottom: 18px;
}


.rr-btn {
  background: transparent;
  border: 1px solid #d4af37;
  color: #d4af37;
  padding: 12px 26px;
  letter-spacing: 1px;
  font-size: 14px;
  cursor: pointer;
}

.rr-btn:hover {
  background: #d4af37;
  color: #000;
}


/* caro */

.round-carousel {
  padding: 80px 0;
  background: #fff;
  color: #000;
  width: 100%;
  margin-left: -1%;
  margin-right: 2%;
}

.section-title {
  margin-bottom: 30px;
  letter-spacing: 2px;
  color:#d4af37;
}

.round-carousel-track {
  display: flex;
  gap: 50px;
  overflow-x: auto;
  padding-bottom: 20px;
  scroll-behavior: smooth;
}

.round-carousel-track::-webkit-scrollbar {
  display: none;
}

.round-item {
  min-width: 180px;
  text-align: center;
  cursor: pointer;
}

.round-item img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #d4af37;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.round-item img:hover {
  transform: scale(1.1);
  box-shadow: 0 20px 40px rgba(212, 175, 55, 0.4);
}

.round-item p {
  margin-top: 12px;
  font-size: 14px;
  color: #d4af37;
}


/* cards */

.category-section {
  padding: 80px 0;
  background: #0b0b0b; 
  margin-top: 2%;
}

.category-card {
  border: none;
  border-radius: 18px;
  overflow: hidden;
  cursor: pointer;
  background: transparent;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.category-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 35px 60px rgba(0, 0, 0, 0.6);
}

.img-wrapper {
  position: relative;
  height: 420px;
}

.img-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.85);
  transition: transform 0.6s ease;
}

.category-card:hover img {
  transform: scale(1.08);
}

.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.75)
  );
}

.overlay h3 {
  color: #fff;
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 2px solid #c9a14a; 
  padding-bottom: 8px;
}


.category-card {
  cursor: pointer;
  border: none;
  overflow: hidden;
}

.category-card img {
  height: 300px;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.category-card:hover img {
  transform: scale(1.1);
}

.category-card .card-title {
  text-align: center;
  letter-spacing: 2px;
}

@media (max-width: 768px) {
    .rr-input-wrap {
        flex-direction: column;
    }

    .rr-input-wrap button {
        width: 100%;
    }

    .footer-links {
        grid-template-columns: 1fr;
    }
    .right-content {
    margin-top: 40px;
  }
}